  /* .main-body {
    background: #fafafa;
    color: #333333;
    margin-top: 3.8rem;
  } */
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }

  p {
    margin-bottom: 0px;
  }
  
  .bg-color {
    background-color: rgb(116, 101, 133);
  }

  .nav-user-img {
    height: 40px;
    width: 40px;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px 20px 20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-wrap: anywhere;
  }

  .comment-content {
    background: #ffffff;
    padding: 10px 20px 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .comment-head {
    display: flex;
    align-items: center;
  }

  .delete-comment {
    font-size: 10px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 45px;
    width: 45px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .scrolling {
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
    margin-left: -10px;
    overflow-y: scroll;
  }

  .alert {
    margin-top: 20px;
  }

  .alert-home {
    margin-left: -10px;
    margin-right: 10px;
  }
  .zencircle {
    margin-right: 12px;
  }
  
  .like-buttons {
    margin: 5px;
    margin-top: 10px;
  }

  .ck-content {
    width: 100%;
    height: 250px;
  }

  .notifications-btn {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    bottom: 40px;
    right: 40px;
    height: 80px;
  }

  .notifications-box {
    overflow-y: scroll;
    position: fixed;
    z-index: 1;
    bottom: 70px;
    right: 5px;
    background: #f7f5ff;
    padding: 10px 20px 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-height: 400px;
    max-width: 400px;
    min-height: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .notification {
    height: 100px;
    background-color: rgb(253, 233, 197);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .notification:hover {
    transition: all 0.3s ease-out;
    box-shadow: 0px 6px 12px rgba(41, 41, 41, 0.377);
    text-shadow: 1px 1px #72727267;
    height: 105px;
    text-indent: 4px;
  }

  .popover-style {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 220, 220);
    background: linear-gradient(183deg, rgb(255, 170, 170) 35%, rgba(255,255,255,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 30px;
    height: 30px;
  }